@{
    ViewBag.Title = "First Tab";
}

@section scripts
{

    @Scripts.Render("~/Scripts/angular.js")

    @Scripts.Render("~/Scripts/TechScreenScripts/FirstTAb.js")

}

<h2>First Tab</h2>

<div id="master_table" style="display:none">
   
    <div ng-app="showcase.angularWay">

        <div ng-controller="AngularWayCtrl" ng-init="downloadData()">
            <table datatable="ng" id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in persons"  my-post-repeat-directive>
                        <td>{{ person.Name}}</td>
                        <td>{{ person.Position}}</td>
                        <td>{{ person.Office }}</td>
                        <td>{{ person.Age }}</td>
                        <td>{{ person.StartDate}}</td>
                        <td>{{ person.Salary}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>


