@{
    ViewBag.Title = "Second Tab";
}

@section scripts
{

    @Scripts.Render("~/Scripts/angular.js")

    @Scripts.Render("~/Scripts/TechScreenScripts/SecondTAb.js")

}

<h2>Second Tab</h2>

<div id="master_table">

    <div ng-app="secondTab">

        <div ng-controller="secondTabCtrl" ng-init="downloadData()">

            <ul class="todo-list" style="list-style-type: none">
                <li ng-repeat="item in Items">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="view">
                                <input class="toggle" type="checkbox">
                                <label>{{ item.Item}}</label>
                            </div>
                        </div>
                        <div class="col-xs-6">

                            <div class="view">
                                <input class="toggle" type="checkbox">
                                <label>{{ item.Item}}</label>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

    
        </div>
    </div>
</div>


